

body {margin:0;}

/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/
@media all and (max-device-width: 480px) and (orientation: landscape),
all and (max-device-height: 480px) and (orientation: landscape){

}

.slider-title{
  font-size: 15px;
  display: absolute;
/*  z-index: -1;*/
}

/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Roboto Condensed', sans-serif;

    position: fixed;
    top: 0;
    width: 100%;
    max-height: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}



a:link {
	color: black;
}

a:visited {
	color: black;
}	

a:hover{
    color: white;
}

a:active{
	color: black;
}

/*GALLERY SLIDER*/


.slider-title{

    font-size: 50px;
    position: relative;
    display: inline;
    display: absolute;
    font-family: Verdana, Arial;
    color: #34c186;
}

.title-container {
/* /*  display: inline;*/
  /* position: block;*/
   padding: 0px 16px;
   height: auto;
   color: #EEEEEE;
   letter-spacing: 4px;
}

.big-container {
   position: relative;
   display: inline-block;
   width: 100%;
   margin: auto;
   margin-bottom: 150px;
}
.slides {
   position: absolute;
   top: 0;
   width: 100%;
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

.slides.fadeImage {
   opacity: 1;
}

.buttons-container {
   position: absolute;
   margin: 12px auto;
   width: 100%;
   top: 600px;
   color: #EEEEEE;
   text-align: center;
   font-size: 28px;
}
.left-arrow, .right-arrow, .dot-button {
   cursor: pointer
}
.dot-button {
   display: inline-block;
   height:  12px;
   width:   12px;
   border: 1px solid #EEEEEE;
   border-radius: 50%;
   color: #EEEEEE;
   transition: background-color .3s, color .15s, opacity 0.3s;
}
.dot-button:hover {
   background-color: #EEEEEE;
}

.dot-filled {
   background-color: #EEEEEE;
}

.left-arrow {
   float: left;
   padding-left: 16px;
}
.right-arrow {
   float: right;
   padding-right: 16px;
}
.left-arrow, .right-arrow {
   color: rgba(255, 255, 255, 0.2);
   transition: background-color .3s, color .15s, opacity 0.3s;
}
.left-arrow:hover, .right-arrow:hover {
   color: #EEEEEE
}

#video{
  position: inline-block;
  text-align: center;
  padding-top: 550px;
}

#small-text-description{
  /*padding-top: 100px;*/
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: Verdana, Arial;
  font-weight: bold;

}

#camp-description{
  font-family: Verdana, Arial;
  font-size: 16px;
  color: black;
  position: center;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  

}

#project-descrip-title{
  font-size: 50px;
  font-family: Verdana, Arial;
  color: black;
  font-weight: bold;
  text-align: center;
 
}

#project-description{
  font-family: Verdana, Arial;
  font-size: 16px;
  color: black;
  position: center;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

#history-title{
  font-size: 50px;
  font-family: Verdana, Arial;
  color: black;
  font-weight: bold;
  text-align: center;
 
}

#sketchfab-embed-wrapper{

  float: left;
}

#history-text{
  font-family: Verdana, Arial;
  font-size: 16px;
  color: black;
  position: center;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;

}

#about-title{
   font-size: 50px;
  font-family: Verdana, Arial;
  color: black;
  font-weight: bold;
  text-align: center;
 
}

#about-us{
  font-family: Verdana, Arial;
  font-size: 16px;
  color: black;
  position: center;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
  font-size: 15px;
  color: white;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}
/*body {
  padding: 2em;
}
*/